nav{display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    flex-direction: row;
    background-color: rgb(230, 161, 228)
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
}

.link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    color: black;
    transition: 0.3s ease-in-out;
}
#navbar li  a:hover {
    color:white ;
}

.icon img {
    height: 70px;
    width: 70x;
}

